.card {
	display: flex;
	width: 100%;
	margin-top: 12px;
	align-items: flex-start;
	padding: 1rem;
	justify-content: space-between;

	border-radius: 8px;
	background: var(--gray-500);
}

.checkbox,
.checkboxCompleted {
	width: 1.5rem;
	height: 1.5rem;
	cursor: pointer;
	border-radius: 999px;
}

.checkbox {
	border: 2px solid var(--blue);
	background: none;
}

.checkboxCompleted {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--gray-100);
	border: 3px solid var(--purple-dark);
	background: var(--purple-dark);
}

.text,
.textCompleted {
	width: 80%;
	text-align: justify;
	overflow-wrap: break-word;
}

.text {
	color: var(--white);
}

.textCompleted {
	text-decoration-line: line-through;
	color: var(--gray-300);
}

.deleteButton {
	background: transparent;
	border: 0;
	color: var(--gray-300);
	cursor: pointer;
	line-height: 0;
	border-radius: 2px;

	transition: color 0.5s ease, transform 0.2s ease;
}
