.main {
	max-width: 46rem;
	margin: -1.8rem auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (max-width: 768px) {
	html {
		font-size: 87.5%;
	}
	.main {
		margin: -1.8rem 1rem;
	}
}
